.header {
   text-align: center;
   font-size: 24px;
   margin-bottom: 20px;
}

.create {
   width: 100px;
   background-color: #d9d9d9;
}

.profile-section {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.profile-box {
   background-color: #beeeea;
   width: 30%;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
}

.profile-box input {
   margin-top: 10px;
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

.comment-section {
   margin-top: 20px;
}

.comment-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

.comment-table th,
.comment-table td {
   border: 1px solid #ddd;
   padding: 10px;
   text-align: left;
}

.comment-table th {
   background-color: #f7f7f7;
}

.comment-table button {
   width: 80px;
}

.comment-controls {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.comment-controls button {
   padding: 10px 20px;
   border: none;
   background-color: #4caf50;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

.comment-controls button:hover {
   background-color: #45a049;
}

.comment-table {
   width: 100%; /* 테이블 전체 너비 */
   border-collapse: collapse; /* 테두리 겹침 방지 */
}

.comment-table th,
.comment-table td {
   border: 1px solid #ddd; /* 테두리 */
   padding: 10px; /* 셀 안쪽 여백 */
   text-align: center; /* 텍스트 가운데 정렬 */
}

.comment-table td:nth-child(4),
.comment-table td:nth-child(5),
.comment-table th:nth-child(4),
.comment-table th:nth-child(5) {
   width: 100px; /* 수정/삭제 칼럼 너비 */
}

.comment-table button {
   width: 80px; /* 버튼 너비 */
   padding: 5px;
   margin-left: 10px;
   margin-bottom: 10px;
   background-color: #bff3f0; /* 버튼 색상 */
   border: none;
   border-radius: 5px; /* 둥근 모서리 */
   cursor: pointer;
}

.comment-table button:hover {
   background-color: #9fe0dc; /* 호버 효과 */
}

a.create,
a.update {
   text-decoration: none;
   color: black;
}

.comment-container {
   margin: 20px auto; /* 부모 요소 여백 설정 */
   text-align: center; /* 자식 요소를 가운데 정렬 */
}

a.create {
   width: 100px;
   height: 44px;
   margin-top: 30px;
   font-size: 20px;
   background-color: #ebecec;
}

a.create:hover {
   text-decoration: underline;
}

a.update {
   color: blue;
   text-decoration: none;
}

.delete {
   color: red;
}
